<!DOCTYPE html>
<html>
    <head>
        <title>Sessions and Cookie Lab</title>
    </head>

    <body>
        <h1>Sessions and Cookies Lab</h1>
        <form action="/checkout" method="POST">
            <label for="input_item">Name:</label>
            <input type="text" id="input_item" name="item" />
            
            <input type="submit" id="submit" />
        </form>
    </body>
</html>